/* reset */
$min-width: 320px;
$max-width: 1108px;
$base-bg: #E5E5E5;
$base-font-size: 12px;
$base-line-height: 1.45;
$base-font-family: 'Roboto', sans-serif;
$link-color: #0560CE;
$default-transition:all 0.3s linear;

/* main variables */

//text, titles
$text-color: #3B3B3B;
$title-color: #000000;
$title-font-family: 'Rubik', sans-serif;

$font-size-h1: 18px;
$line-height-h1: 1.17;
$font-size-h2: 18px;
$line-height-h2:1.4;
$font-size-h3: 16px;
$line-height-h3: 1.3;
$font-size-h4: 12px;
$line-height-h4: 1.3;
