/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30000px;
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    position: relative;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow{position: absolute; font-size: 0px; line-height:0; border: 1px solid #0560CE; color:#0560CE; padding: 0; bottom: 0px; width: 27px; z-index: 30; cursor: pointer; height:27px; border-radius: 50%; background-color: rgb(255, 255, 255);
    span {display: inline-block; vertical-align: middle;font-size: 10px;}
}
.slick-prev{   left: 0px;
    span { transform: rotate(180deg);}
}
.slick-next{   right:0px;}

.slick-dots{text-align:center; bottom: 0px; left:0; right:0;font-size:0;
    li{list-style: none;display:inline-block;  list-style:none; padding:2px 3px;
        button{border:none; display:block;padding: 0; font-size: 0; background:transparent; border-radius:50%;
            width: 9px; height: 9px; border: 1px solid #CFD9E4;
            &:hover{border:2px solid #065eca;}
        }
    }
    .slick-active{
        button {border:2px solid #065eca;}
    }
}
