/*
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Light.eot?ver1.0');
    src: url('../fonts/Roboto Light.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto Light.woff?ver1.0') format('woff'),
        url('../fonts/Roboto Light.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto Light.svg#Roboto?ver1.0') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}
@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto.eot?ver1.0');
    src: url('../fonts/Roboto.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto.woff?ver1.0') format('woff'),
        url('../fonts/Roboto.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto.svg#Roboto?ver1.0') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Medium.eot?ver1.0');
    src: url('../fonts/Roboto Medium.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto Medium.woff?ver1.0') format('woff'),
        url('../fonts/Roboto Medium.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto Medium.svg#Roboto-Medium?ver1.0') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Bold.eot?ver1.0');
    src: url('../fonts/Roboto Bold.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto Bold.woff?ver1.0') format('woff'),
        url('../fonts/Roboto Bold.ttf?ver1.0') format('truetype'),
        url('../fonts/Roboto Bold.svg#Roboto-Bold?ver1.0') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2044;
}

@font-face {
    font-family:'Roboto';
    src: url('../fonts/Roboto Black.eot?ver1.0');
    src: url('../fonts/Roboto Black.eot?#iefix?ver1.0') format('embedded-opentype'),
        url('../fonts/Roboto Black.woff2?ver1.0') format('woff2'),
        url('../fonts/Roboto Black.woff?ver1.0') format('woff'),
        url('../fonts/Roboto Black.svg#Roboto Black?ver1.0') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}
*/

/* */
@font-face {     
  font-family: 'icomoon';    
  src:  url('../fonts/icomoon.eot?ixl3pi');
  src:  url('../fonts/icomoon.eot?ixl3pi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ixl3pi') format('truetype'),
    url('../fonts/icomoon.woff?ixl3pi') format('woff'),
    url('../fonts/icomoon.svg?ixl3pi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-arch:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-arrow_down:before {
  content: "\e902";
}
.icon-arrs:before {
  content: "\e903";
  color: #284dc0;
}
.icon-big_arr:before {
  content: "\e904";
  color: #bed2ef;
}
.icon-cab1:before {
  content: "\e905";
}
.icon-cab3:before {
  content: "\e906";
}
.icon-cab4:before {
  content: "\e907";
}
.icon-cab5:before {
  content: "\e908";
}
.icon-cab6:before {
  content: "\e909";
}
.icon-cab7:before {
  content: "\e90a";
}
.icon-cab8:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-checkbox:before {
  content: "\e90d";
  color: #fff;
}
.icon-close:before {
  content: "\e90e";
}
.icon-com-bg:before {
  content: "\e90f";
}
.icon-comm:before {
  content: "\e910";
}
.icon-doc1:before {
  content: "\e911";
}
.icon-doc2:before {
  content: "\e912";
}
.icon-edit:before {
  content: "\e913";
}
.icon-eye:before {
  content: "\e914";
}
.icon-fav:before {
  content: "\e915";
}
.icon-fav2:before {
  content: "\e916";
}
.icon-fb:before {
  content: "\e917";
}
.icon-filter:before {
  content: "\e918";
}
.icon-globe:before {
  content: "\e919";
  color: #ff441e;
}
.icon-globe2:before {
  content: "\e91a";
}
.icon-google:before {
  content: "\e91b";
}
.icon-group:before {
  content: "\e91c";
}
.icon-i1:before {
  content: "\e91d";
  color: #fff;
}
.icon-i2:before {
  content: "\e91e";
  color: #fff;
}
.icon-i3:before {
  content: "\e91f";
  color: #fff;
}
.icon-i4:before {
  content: "\e920";
  color: #fff;
}
.icon-i5:before {
  content: "\e921";
  color: #fff;
}
.icon-i6:before {
  content: "\e922";
  color: #fff;
}
.icon-i7:before {
  content: "\e923";
  color: #fff;
}
.icon-ico8:before {
  content: "\e924";
}
.icon-ico8_2:before {
  content: "\e925";
}
.icon-inst:before {
  content: "\e926";
}
.icon-like:before {
  content: "\e927";
}
.icon-link:before {
  content: "\e928";
}
.icon-link2:before {
  content: "\e929";
}
.icon-logo .path1:before {
  content: "\e92a";
  color: rgb(0, 0, 0);
}
.icon-logo .path2:before {
  content: "\e92b";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path3:before {
  content: "\e92c";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path4:before {
  content: "\e92d";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path5:before {
  content: "\e92e";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path6:before {
  content: "\e92f";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path7:before {
  content: "\e930";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path8:before {
  content: "\e931";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path9:before {
  content: "\e932";
  margin-left: -3.517578125em;
  color: rgb(0, 0, 0);
}
.icon-logo .path10:before {
  content: "\e933";
  margin-left: -3.517578125em;
  color: rgb(255, 255, 255);
}
.icon-logo .path11:before {
  content: "\e934";
  margin-left: -3.517578125em;
  color: rgb(255, 255, 255);
}
.icon-logo .path12:before {
  content: "\e935";
  margin-left: -3.517578125em;
  color: rgb(255, 255, 255);
}
.icon-mail:before {
  content: "\e936";
}
.icon-mail2:before {
  content: "\e937";
}
.icon-noimg:before {
  content: "\e938";
}
.icon-pass:before {
  content: "\e939";
}
.icon-pass2:before {
  content: "\e93a";
}
.icon-plus:before {
  content: "\e93b";
}
.icon-point:before {
  content: "\e93c";
  color: #ff7052;
}
.icon-reload:before {
  content: "\e93d";
}
.icon-reply:before {
  content: "\e93e";
}
.icon-search:before {
  content: "\e93f";
}
.icon-settings:before {
  content: "\e940";
}
.icon-statistics:before {
  content: "\e941";
}
.icon-tw:before {
  content: "\e942";
}
.icon-user:before {
  content: "\e943";
}
.icon-ves:before {
  content: "\e944";
}
.icon-vk:before {
  content: "\e945";
}
.icon-youtube:before {
  content: "\e946";
}





